# Virtual environment
venv/
ENV/
env/
.venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local caches & data files
cache.json

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
